

.card {
  /* Regola l'altezza massima della card per renderla meno alta */
  max-height: 500px; /* Ajusta questo valore secondo le tue necessità */
  display: flex;
  flex-direction: column;

  background-color: rgba(42, 46, 78, 0.6);
  backdrop-filter: blur(8px);
}

.card-img-top {
  /* Limita l'altezza dell'immagine per evitare che occupi troppo spazio */
  max-height: 150px; /* Ajusta questo valore secondo le tue necessità */
  object-fit: cover; /* Mantiene le proporzioni dell'immagine */
}

.card-body {
  /* Assicura che il corpo della card occupi tutto lo spazio disponibile */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuisce uniformemente lo spazio */
}
