<div class="container mt-5">

  <form class="mb-3" action="submit">
    <input  type="search" (input)="showSearch($event)">
  </form>


  <div class="d-flex gap-1 mb-2">
    <button class="btn btn-success rounded-5" (click)="showAllProducts()" >Tutto</button>
    <div  *ngFor="let category of categories">
      <button class="btn btn-secondary rounded-5" (click)="filterByCategory(category)">{{category}}</button>
    </div>
  </div>

  <div *ngIf="filteredProducts">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
      <div class="col mb-4" *ngFor="let product of products">
        <div class="card h-100">
          <img [src]="product.productImg" class="card-img-top" [alt]="product.name">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Marca <strong>{{product.brand}}</strong></p>
            <p class="card-text">{{product.description}}</p>
            <p> {{product.category}} </p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button class="btn btn-primary" [disabled]="!product.available">Aggiungi al carrello</button>
            <button *ngIf="isAdmin" class="btn btn-secondary">Modifica</button>

          </div>
          <button *ngIf="!isAdmin" class="btn" (click)="toggleWishlist(product)">
            <i [ngClass]="product.isInWishlist ? 'fas fa-heart' : 'far fa-heart'"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

