<div *ngIf="product" class="text-white col-10 col-md-8 col-lg-6 mx-auto ">
  <h1 class="mt-5 mb-2">Modifica Prodotto</h1>

  <h4 class="mb-4">#ID {{product.id}}</h4>

  <form class="d-flex flex-column gap-3" (ngSubmit)="saveProduct()">

    <div class="form-group">
      <label for="name" class="mb-2">Nome</label>
      <input [(ngModel)]="product.name" name="name" id="name" required class="form-control">
    </div>


    <div class="form-group">
      <label for="category" class="mb-2">Categoria</label>
      <input [(ngModel)]="product.category" name="category" id="category" required class="form-control">
    </div>


    <div class="form-group">
      <label for="price" class="mb-2">Prezzo</label>
      <input [(ngModel)]="product.price" name="price" type="number" id="price" required class="form-control">
    </div>


    <div class="form-group">
      <label for="brand" class="mb-2">Marca</label>
      <input [(ngModel)]="product.brand" name="brand" id="brand" required class="form-control">
    </div>

    <div class="form-group">
      <label for="productImg" class="mb-2">Immagine Prodotto</label>
      <input [(ngModel)]="product.productImg" name="productImg" id="productImg" required class="form-control">
    </div>

    <div class="form-group">
      <label for="description" class="mb-2">Descrizione</label>
      <textarea [(ngModel)]="product.description" name="description" id="description" required class="form-control"></textarea>
    </div>


    <div class="form-group form-check">
      <input [(ngModel)]="product.available" name="available" type="checkbox" id="available" class="form-check-input">
      <label for="available" class="form-check-label">Disponibile</label>
    </div>

    <button type="submit" class="btn btn-primary">Salva Modifiche</button>
  </form>
</div>
