  <div *ngIf="currentUserCartProducts.length>0; else emptyCart">
    <h1 class="mt-5 mb-3 text-white">Il tuo carrello</h1>
    <div class="d-flex align-items-center justify-content-between">
      <h2  class="text-white me-5">Totale Carrello: {{totalCartPrice | currency:'EUR':'symbol'}}</h2>
      <button (click)="openEnd(content)" class="btn btn-primary me-5">Procedi al checkout</button>
    </div>

    <div class="shell">
      <div class="container">
        <div class="row  row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
          <div class="col" *ngFor="let product of currentUserCartProducts">
            <div class="wsk-cp-product ">
              <div class="wsk-cp-img">
                <img
                [src]="product.productImg"
                class="img-responsive"
                [alt]="product.name"
                />
              </div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>{{ product.brand }}</span>
                </div>
                <div class="title-product">
                  <h3>{{ product.name }}</h3>
                </div>
                <div class="card-footer pt-2 d-flex align-items-center justify-content-between mx-0">
                  <div class="wcf-left"><span class="price fs-4">{{ product.price | currency : "EUR" : "symbol" }}</span></div>
                  <div class="d-flex align-items-center justify-content-end">

                    <p class="mb-0 me-2">Nel carrello: {{ productCount[product.id] || 0 }}</p>
                    <i role="button " (click)="addToCart(product)" class="add-btn text-white fa-solid fa-plus"></i>
                    <i role="button " (click)="removeFromCart(product.id)" class="remove-btn text-white" [ngClass]="product.isInCart ? 'fa-solid fa-minus' : 'fa-solid fa-xmark'"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <ng-template #emptyCart>
    <h1 class="my-5 text-white">Il tuo carrello è vuoto.</h1>
  </ng-template>


  <ng-template #content let-offcanvas>
    <div class="checkout text-white">
      <div class="offcanvas-header d-flex justify-content-between align-items-center">
        <h4 class="offcanvas-title">Checkout</h4>
        <button type="button" class="bg-transparent border border-light text-light rounded-2" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="offcanvas-body">
        <div *ngFor="let product of currentUserCartProducts">
          <div class="d-flex justify-content-between">
            <div class="d-flex ">
              <p>{{product.name }} </p>
              <p><i class="ms-1 fa-solid fa-xmark per"></i> {{ productCount[product.id] || 0 }}</p>
            </div>
            <p>{{ product.price*productCount[product.id] | currency : "EUR" : "symbol" }}</p>
          </div>
        </div>
        <hr>
        <input [(ngModel)]="coupon(coupon, totalCartPrice)" name="coupon" type="text" placeholder="Inserisci codice Magalli">
        <hr>
        <h4>Totale: {{totalCartPrice | currency:'EUR':'symbol'}}</h4>
        <div class="text-end">
          <button type="button" class="btn btn-primary" (click)="offcanvas.close('Close click')">Effettua Pagamento</button>
        </div>
      </div>

    </div>
    </ng-template>
