<div *ngIf="currentUserWishlistProducts.length>0; else emptyWishlist">
    <h1 class="my-5 text-white">La tua lista dei desideri</h1>
    <div class="shell">
      <div class="container">
        <div class="row  row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
          <div class="col" *ngFor="let product of currentUserWishlistProducts">
            <div class="wsk-cp-product ">
              <div class="wsk-cp-img">
                <img
                [src]="product.productImg"
                class="img-responsive"
                [alt]="product.name"
                />
              </div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>{{ product.brand }}</span>
                </div>
                <div class="title-product">
                  <h3>{{ product.name }}</h3>
                </div>
                <div class="description-prod">
                  <p>{{(product.description| slice:0:60) + '...'}}</p>
                </div>
                <div class="card-footer pt-2 d-flex align-items-center justify-content-between">
                  <div class="wcf-left"><span class="price fs-4">{{ product.price | currency : "EUR" : "symbol" }}</span></div>
                  <!-- <i  *ngIf="product && product.quantity !== undefined && product.quantity < 10" title="Ultimi {{product.quantity}} pezzi rimasti!" class="text-danger fas fa-exclamation-circle"></i> -->
                  <div class="d-flex align-items-center justify-content-end">

                    <button *ngIf="isAdmin"[routerLink]="['/edit-product', product.id]" class="btn btn-secondary">Modifica</button>

                    <i role="button" class="remove-btn text-white me-3 fas fa-times"(click)="removeFromWishlist(product.id)"></i>
                    <button *ngIf="!isAdmin" title="{{ product.available ? '' : 'Prodotto momentaneamente non disponibile' }}" class="buy-btn text-white rounded-5 border-0  wcf-right" [disabled]="!product.available" (click)="addToCart(product)">
                      <i class="fas fa-shopping-cart"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #emptyWishlist>
    <h1 class="my-5 text-white">La tua lista dei desideri è vuota.</h1>
  </ng-template>

  <div *ngIf="showAlert" class="alert alert-secondary position-fixed bottom-0 start-50 translate-middle-x bottom-50 start-50">{{alertMessage}}</div>
